<h3> Il lavoro </h3>

<p> I lavoratori assunti hanno <b>5 minuti</b> per lavorare. Possono tentare <b>al massimo 10 compiti</b> in totale.
    Per ogni compito ci sono due riquadri, ognuno contenente 100 numeri:
    <b>devi trovare il numero più grande in ciascun riquadro e poi sommarli</b>. </p>

<p> Ogni compito correttamente svolto <b>dà al datore di lavoro un ricavi di
    20 punti</b>{% if player.treatment == 'all_taxes' or player.treatment == 'employer_tax' %},
    a meno che non ci sia una tassa sui ricavi del datore,
    in qual caso ogni compito corretto vale 16 punti. {% else %}.{% endif %}

    Le risposte sbagliate non valgono niente, ma contano come 'compiti tentati'.
    I lavoratori possono inviare una sola risposta per compito.</p>

    <p> <b>Esempio:</b> Il numero più grande nel riquadro di sinistra è 99
        e il numero più grande nel riquadro di destra è 65,
        entrambi segnati con un cerchio rosso. La loro somma è 99+65=164; questa è la risposta da inviare! </p>
