{% load staticfiles otree_tags %}
{% if player.timeline == 'indirect' and player.treatment != 'no_taxes' %}
<h3>Tasse e salario finale</h3>
{% elif player.timeline == 'indirect' and player.treatment == 'no_taxes' %}
<h3>Risultati assunzione e salario finale</h3>
{% elif player.timeline == 'direct' and player.treatment != 'no_taxes' %}
<h3>Risultati assunzione e tasse</h3>
{% elif player.timeline == 'direct' and player.treatment == 'no_taxes' %}
<h3>Risultati assunzione</h3>
{% endif %}
<!-- Common information starts -->
<p> Dopo la fase di assunzione, tutti i partecipanti ricevono i risultati delle assunzioni. In questo caso: </p>
{% if player.wage_offer > 0 %}
    <p style="margin-left: 40px"> <i>  La fase di assunzione è terminata. Risultati complessivi:
    1 lavoratore è stato assunto con l'iniziale offerta di salario:
    {{ player.wage_offer|json }} (...i generale, lista di tutti i salari accettati). <br>
    In questo round, 0 datori di lavoro e 0 lavoratori sono senza contratto. </i>
</p>
{% elif player.wage_offer == 0 %}
    <p style="margin-left: 40px"> <i>  La fase di assunzione è terminata. Risultati complessivi: 0 lavoratori sono stati assunti. <br>
    In questo round, 1 datore di lavoro e 1 lavoratore sono senza contratto. </i></p>
{% endif %}
<!-- Common information ends-->


{%  if player.timeline == 'indirect' and player.treatment == 'all_taxes' %}
    <p> Una volta ricevuti questi risultati, viene reso noto quale schema di tassazione sarà in vigore durante il round.
        Lo schema è scelto casualmente dal computer.</p>

    <p> Tre opzioni sono possibili: </p>
<ul>
    <li><b>Nessuna tassa</b>, con probabilità 4/6 (66.7 %)</li>
    <li><b>Tassa </b> del 20 % <b>sui ricavi del datore</b> provenienti dal lavoro dell’assunto, con probabilità 1/6 (16,7 %) </li>
    <li><b>Tassa</b> del 20 % <b>sul reddito del lavoratore</b>, con probabilità 1/6 (16,7%) </li>
</ul>
    <p> In totale, c'è il <b>33 % di probabilità</b> che una tassa venga applicata,
        e il 67 % di probabilità che non ci siano tasse; ovvero, in media un round su 3 prevede una tassa.
        Se c'è una tassa, il tipo di tassa è scelto casualmente dal computer, ognuna con uguale probabilità. </p>


{% elif player.timeline == 'indirect' and player.treatment == 'employer_tax' %}
    <p> Una volta ricevuti questi risultati, viene reso noto quale schema di tassazione sarà in vigore durante il round.
        Lo schema è scelto casualmente dal computer.</p>

    <p> Due opzioni sono possibili: </p>
<ul>
    <li><b>Nessuna tassa</b></li>
    <li><b>Tassa</b> del 20 % <b>sui ricavi del datore</b> provenienti dal lavoro dell'assunto</li>
</ul>
    <p> C'è il <b>33 % di probabilità</b> che la tassa venga applicata,
        e il 67 % di probabilità che non ci siano tasse;
        ovvero, in media un round su 3 prevede una tassa.</p>


{% elif player.timeline == 'indirect' and player.treatment == 'worker_tax' %}

    <p> Una volta ricevuti questi risultati, viene reso noto quale schema di tassazione sarà in vigore durante il
        round. Lo schema è scelto casualmente dal computer. </p>
    <p> Tre opzioni sono possibili: </p>
<ul>
    <li><b>Nessuna tassa</b></li>
    <li><b>Tassa del 20 % sul reddito del lavoratore</b> </li>
</ul>
    <p> C'è il <b>33 % di probabilità</b> che la tassa venga applicata,
        e il 67 % di probabilità che non ci siano tasse;
        ovvero, in media un round su 3 prevede una tassa. </p>

{% elif player.timeline == 'direct' and player.treatment == 'all_taxes' %}
    <h3> Riguardo le tasse </h3>

<p> Lo schema di tassazione annunciato prima della fase di assunzione può avere 3 possibili esiti,
    tutti con la stessa probabilità:</p>
<ul>
    <li><b>Nessuna tassa</b></li>
    <li><b>Tassa</b> del 20 % <b>sui ricavi del datore</b> provenienti dal lavoro dell'assunto</li>
    <li><b>Tassa</b> del 20 % <b>sul reddito del lavoratore</b> </li>
</ul>
        <p> In totale, c'è il <b>33 % di probabilità</b> che una tassa venga applicata,
        e il 67 % di probabilità che non ci siano tasse; ovvero, in media un round su 3 prevede una tassa. </p>
        <p> Se c'è una tassa, il tipo di tassa è scelto casualmente dal computer, ognuna con uguale probabilità. </p>


{% elif player.timeline == 'direct' and player.treatment == 'employer_tax' %}
<h3> Riguardo le tasse </h3>

<p>Lo schema di tassazione annunciato prima della fase di assunzione può avere 2 possibili esiti: </p>
<ul>
    <li><b>Nessuna tassa</b></li>
    <li><b>Tassa</b> del 20 % <b>sui ricavi del datore</b> provenienti dal lavoro dell'assunto</li>
</ul>

    <p> C'è il <b>33 % di probabilità</b> che una tassa venga applicata,
        e il 67 % di probabilità che non ci siano tasse; ovvero,
        in media un round su 3 prevede una tassa.</p>

{% elif player.timeline == 'direct' and player.treatment == 'worker_tax' %}
<h3> Riguardo le tasse </h3>

<p>Lo schema di tassazione annunciato prima della fase di assunzione può avere 2 possibili esiti:</p>

<ul>
    <li><b>Nessuna tassa</b></li>
    <li><b>Tassa</b> del 20 % <b>sul reddito del lavoratore</b> </li>
</ul>

    <p> C'è il <b>33 % di probabilità</b> che una tassa venga applicata,
        e il 67 % di probabilità che non ci siano tasse;
        ovvero, in media un round su 3 prevede una tassa.</p>
{% endif %}

{% if player.treatment == 'all_taxes' or player.treatment == 'employer_tax' %}
    <p><b> La tassa sui ricavi del datore di lavoro</b> riduce il guadagno che questi ottiene per ogni compito:
    ogni compito correttamente eseguito vale 16 punti invece dei 20 punti in caso di nessuna tassa.
        I 40 punti ottenuti dalla sola assunzione non saranno toccati. </p>

{% endif %}
{% if player.timeline == 'direct' and player.treatment == 'all_taxes' or player.timeline == 'direct' and player.treatment == 'worker_tax' %}

    <p><b> La tassa sul reddito del lavoratore</b> riduce l'ammontare salariale che questi riceve del 20 %.
        Ogni datore di lavoro paga comunque il salario totale. </p>
{% elif player.timeline == 'indirect' and player.treatment == 'all_taxes' or player.timeline == 'indirect' and player.treatment == 'worker_tax' %}
    <p><b> La tassa sul reddito del lavoratore</b> riduce l'ammontare salariale che questi riceve del 20 %.
        Ogni datore di lavoro paga comunque il salario finale totale. </p>
{% endif %}
{% if player.treatment != 'no_taxes' %}
<p>
    Le tasse raccolte vengono riutilizzate nell'esperimento.
</p>
{% endif %}
{% if player.timeline == 'indirect' %}
    <p><b> Prima di passare alla fase successiva (il lavoro), i datori di lavoro devono decidere il salario finale. </b>
    Il salario finale deve essere un numero tra 30 e 100, in incrementi di 5 punti.
    Solo il lavoratore che è stato assunto sarà informato del proprio salario finale -
    nessun altro partecipante ne verrà a conoscenza. </p>
{% endif %}