{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Risultati della fase assunzioni {{ player.round_number }}
{% endblock %}

{% block content %}
    <p style="margin-left: 40px"> <i>
        La fase di assunzione è terminata. <br> Risultati complessivi:
        {{ group.num_contracts_closed |json }} <span id="scon">lavoratori sono stati assunti</span>
         con queste iniziali offerte di salario: {{ group.wage_list }}.<br>
        In questo round, <span id="emps_unmatched"> </span> <span id="semps">datori di lavoro</span>
        e <span id="workers_unmatched"> </span> <span id="sworks"> lavoratori </span> sono senza contratto.
</i> </p>


{% if player.matched == 1 %}
     <p> Sei stato <b>assunto</b> con l'offerta iniziale di {{ initial_wage }}.
Il salario finale è di <b>{{ final_wage }}</b>. </p>
{% else %}
    <p> Non sei stato assunto.  </p>
{% endif %}

{% if player.matched == 1 and player.tax_outcome == 1 and player.treatment != "no_taxes" %}
    <p> Non ci sono tasse impreviste per questo periodo. </p>
{% elif player.matched == 1 and player.tax_outcome == 2 and player.treatment != "no_taxes" %}
    <p> Si applica una <b> tassa del 20 % sui ricavi del datore di lavoro</b>. </p>
{% elif player.matched == 1 and player.tax_outcome == 3 and player.treatment != "no_taxes" %}
    <p> Si applica una  <b> tassa del 20 % sul reddito del lavoratore</b>. </p>
{% endif %}

    <p> Nella prossima fase, tutti gli assunti avranno 5 minuti per lavorare. <br></p>

    <p> <button class="otree-btn-next btn btn-primary next-button otree-next-button">Successivo</button> </p>

{% endblock %}

{% block scripts %}
<script>

    window.onload = function () {
        var emps_un = {{ Constants.num_employers|json }} - {{ group.num_contracts_closed|json }};
        $("span#emps_unmatched").html(emps_un);
        if (emps_un === 1) {
            $("span#semps").html("datore di lavoro");
        }
        var workers_un = {{ Constants.num_workers|json }} - {{ group.num_contracts_closed|json }};
        $('span#workers_unmatched').html(workers_un);
        if (workers_un === 1) {
            $("span#sworks").html("lavoratore");
        }
        if (1 === {{ groups.num_contracts_closed|json }}) {
            $("span#scon").html("lavoratore è stato assunte");
        }
    };
</script>
{% endblock %}