{% extends 'global/WaitPage.html' %}
{% load staticfiles otree_tags %}
{% block title %}
    {{ title_text }}
{% endblock %}
{% block content %}
    <p style="margin-left: 40px"> <i>
        La fase di assunzione è terminata. <br> Risultati complessivi:
        {{ group.num_contracts_closed |json }} <span id="scon">lavoratori sono stati assunti</span>
         con queste iniziali offerte di salario: {{ group.wage_list }}.<br>
        In questo round, <span id="emps_unmatched"> </span> <span id="semps">datori di lavoro</span>
        e <span id="workers_unmatched"> </span> <span id="sworks"> lavoratori </span> sono senza contratto.
</i> </p>


{% if player.matched == 1 and player.tax_outcome == 1 and player.treatment != "no_taxes" %}
    <h3> Schema di tassazione </h3>
    <p> Non ci sono tasse impreviste per questo periodo. </p>
{% elif player.matched == 1 and player.tax_outcome == 2 and player.treatment != "no_taxes" %}
    <h3> Schema di tassazione </h3>
    <p> Si applica una <b> tassa del 20 % sui ricavi del datore di lavoro</b>. </p>
{% elif player.matched == 1 and player.tax_outcome == 3 and player.treatment != "no_taxes" %}
    <h3> Schema di tassazione </h3>
    <p>Si applica una <b> tassa del 20 % sul reddito del lavoratore</b>. </p>
{% elif player.matched == 0 and player.role == "worker" %}
    <p> Non sei stato assunto in questo round.</p>
{% elif player.matched == 0 and player.role == "employer" %}
    <p> Non hai assunto un lavoratore in questo round.</p>
{% endif %}

{% endblock %}

{% block scripts %}
<script>

    window.onload = function () {
        var emps_un = {{ Constants.num_employers|json }} - {{ group.num_contracts_closed|json }};
        $("span#emps_unmatched").html(emps_un);
        if (emps_un === 1) {
            $("span#semps").html("datore di lavoro");
        }
        var workers_un = {{ Constants.num_workers|json }} - {{ group.num_contracts_closed|json }};
        $('span#workers_unmatched').html(workers_un);
        if (workers_un === 1) {
            $("span#sworks").html("lavoratore");
        }
        if (1 === {{ groups.num_contracts_closed|json }}) {
            $("span#scon").html("lavoratore è stato assunte");
        }
    };
</script>
{% endblock %}